@model ThetaMobileProject.Models.Item

@{
    ViewData["Title"] = "AddNewItem";
}

<h2>AddNewItem</h2>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelNo" class="control-label"></label>
                <input asp-for="ModelNo" class="form-control" />
                <span asp-validation-for="ModelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatagoryCode" class="control-label"></label>
                <input asp-for="CatagoryCode" class="form-control" />
                <span asp-validation-for="CatagoryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control" />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tdate" class="control-label"></label>
                <input asp-for="Tdate" class="form-control" />
                <span asp-validation-for="Tdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewAllItem">Back to List</a>
</div>

